*{
	margin: 0;
	padding: 0;
}
body {
	width:100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana;
    background: black;
    
}
/*-----------------------------header-----------------------*/
header{
	background-image:url(../images/steven_gerrard_wallpaper_hd.jpg);
	background-size:100%;
	background-repeat: no-repeat;
	background-position: 100% 60%;
}
/*--------logo------*/
.headerlogo{
	top: 290px;
	margin-left: 30px;
	position: relative;
}
#headerlogodiv{ 	
	width: 100%;
	height: 310px;
}
.choosetheme{
	width: 150px;
	float: right;
}
#light{
	background: #e31b23;
	color: white;
	border-style: none;
}
#dark{
	border-style:none;
	color: white;
	background: #1e1e1e; 
}
/*------------------------navigation----------------*/
nav {
	display: flex;
    height: 75px;
    width: 100%;
    background: linear-gradient(to bottom right, #1e1e1e, black);
}

    nav ul {
    	margin-top: auto;
    	margin-bottom: auto;
    	margin-left: 13%;
        list-style: none;
        padding: 0px;
    }

        nav ul li {
            display:inline-block;
        }
        	nav ul li a{
        		padding:28px 20px;
        		text-decoration: none;
        		color: white;
        		transition: 0.1s;
        	}
    			nav ul li a:hover{
    				background:#b8161f;
    			}
/*-----------------------------end of header-----------------------*/

/*--------------------------------footer-----------------------------------*/
footer{
	clear: both;
    width: 100%;
	height: 150px;
	background: linear-gradient(to bottom right, red, #1e1e1e)
}
#footerlogo{
	width: 210px;
	height: 150px;
	float: left;
}
footer p{
	word-spacing: 3px;
	margin-top: 100px;
	text-align: center;
	color: white;
	float: left;
	font-size: 18px;
}

/*----------------------------index------------------------------*/
.currpage{
	background: white;
	width: 100%;
	border-bottom: solid  #b3b3b3;
	border-top: solid  #b3b3b3;
	border-width: 1px;
}
.currpagep{
	margin-left: 30px;
	font-weight: bold;
	font-size: 36px;
	padding: 5px;
	font-family: sans-serif;
}
/*-------------sponsor--------*/

.sponsorlink{
	margin-top: 5px;
	float: right;
}
/*-----news-----*/


.newsarticle{
	width:56.9%;
	float: left;
	margin: 40px 10px;
	margin-top: 0;
	background: #1e1e1e;
	box-shadow: 10px 10px 40px #888888;

}
.newssection{
	padding-top: 50px;
	padding-bottom: 1150px;
	background: #e8e8e8;
}

.newsimage{
	float: left;
	width: 66%;
}
.newsimage:active{
	width: 64%;
	margin:5px;
}
.articleheader{
	text-align: left;
	border-bottom: 1px solid white;
	float: left;
	margin-left: 20px;
	padding: 10px;
	padding-left: 0;
	width: 25%;
	text-decoration: none;
	background: #1e1e1e;
	font-size: 16px;
	color: white;
	font-weight: bold;
}
.articleheader:active{
	padding: 14px;
	padding-left: 0;
	padding-top: 29px;
}
.articledescription{
	text-align: left;
	float: left;
	width:30%;
	color: white;
	text-decoration: none;
	margin-left: 20px;
	font-size: 12px;
	margin-top: 10px;
}
.articledescription:active{
	margin-left: 19px;
	margin-top: 14px;
}


/*---------nextmatch--------*/
#nextmatch{
	float: right;
	width: 38%;
	background: white;
	background: #f6f6f6;
	margin-bottom: 40px;
	margin-right: 10px;
	margin-left: 10px;
}

#nextmatchdiv{
	border-bottom: solid #949494;
}
#date{
	text-align: center;
	font-weight: bold;
	margin-top: 40px;
}
#livlogo{
	margin-left: 25%;
	margin-top: 20px;
}
#chelogo{
	margin-left: 5px;
}
#complogo{
	margin-left: 50%;
}
#compname{
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 40px;
}
table{
	float: left;
	margin-top:4%;
	border: 1px solid #e8e8e8;
	margin-left: 9%;
	width: 80%;
	height:700px;
	text-align: left;
	margin-bottom: 50px;
}
tr:nth-child(even) {background-color: #f2f2f2}
tr:nth-child(9) {color:#e31b23}
figure{
	background: white;
	padding: 1px;
	padding-right: 0px;
}
figure img{
	width:100%;
}
/*--------------------------------Registration-----------------*/

label{
	font-size: 18px;
}
input{
	width: 100%;
	background: #e8e8e8;
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border:1px solid #e8e8e8;
    font-size: 14px;
}
.RegistationSection{
	background: white;
	padding-top: 40px;
}
.box{

	width: 800px;
	margin-top: 50px;
	margin-left: 20px;
}
.submitbutton{
	background: #1d1d1d;
	border-style: none;
	font-size: 18px;
	width: 150px;
	padding:15px;
	margin-left: 670px;
	color: white;
}
.submitbutton:active{
	padding: 14px;
	width: 149px;
}
/*--------------------------News.html----------------*/
.newsarticlenews{
	width:100%;
	float: left;
	background: white;
	margin: 20px 0px;
	background: #1e1e1e;
	box-shadow: 0 5px 40px black;

}

.newsimagenews{
	float: left;
	width: 47%;
}
.newsimagenews:active{
	width: 590px;
	margin:5px;
}
.articleheadernews{
	text-align: left;
	margin-left: 20px;
	float: left;
	padding: 15px;
	padding-left: 0;
	padding-top: 30px;
	font-weight: bold;
	width: 500px;
	text-decoration: none;
	font-size: 26px;
	color: white;
	border-bottom:1px solid #e8e8e8;
}
.articleheadernews:active{
	padding: 14px;
	padding-top: 29px;
	padding-left: 0;
}
.articledescriptionnews{
	text-align: left;
	float: left;
	text-decoration: none;
	width:500px;
	margin-left: 20px;
	margin-top: 15px;
	font-size: 18px;
	color: white;
}
.articledescriptionnews:active{
	margin-left: 19px;
	margin-top: 14px;
}
.pageslist{
	margin-bottom: 30px;
	margin-left: 500px;
}
.nextpage{
	padding-bottom: 1px;
	background: #e8e8e8;
}
.nextpagelink{
	text-decoration: none;
	color: #1e1e1e;
	font-weight: bold;
	margin-right: 20px;
}
.pagelistli{
	display: inline-block;
}
.pagelistlink{
	color: #1e1e1e;
	font-weight: bold;
	margin: 20px;
	text-decoration: none;
}
/*-----------------------------Team.html----------------*/
#videosection{
	background: #e8e8e8;
}
video{
	margin: 20px;
	margin-bottom: 0px;
	width: 597px;
	height: 300px;
}
#controls{
	margin-left: 20px;
}
button{
	border-style: none;
	padding: 15px;
	width: 95px;
	color: white;
	background: #1e1e1e;
}

/*---------------First Team--------------*/

#firstteamsection{
	background: #e8e8e8;
	padding-top: 10px;
	padding-bottom: 2352px;
}
#firstteamsection h1{
	color: white;
	background: #1e1e1e;
	padding: 15px;
	padding-left: 35px;
}
.fbpos{
	float: left;
	margin-top:30px;
	font-size: 40px; 
	width: 100%;
}
.footballers{
	float: left;
	width: 100%;
	margin-bottom: 100px;
}
.fblink{
	background:linear-gradient(to bottom right, #5d5d5d, black);
	float: left;
	width: 400px;
	margin-top: 20px;
	margin-left: 20px;
	box-shadow: 0px 5px 40px grey;
}
.fbimage{
	float: left;
	width: 150px;
	height: 150px;
}
.number{
	float:left;
	padding:50px 15px;
	font-size: 40px;
	text-decoration: none;
	color: white;
}
.fbname{
	text-decoration: none;
	text-align: center;
	float: left;
	width: 100px;
	font-size: 20px;
	padding: 50px 15px;
	color: white;
}
#fullteam{
	text-decoration: none;
	color: white;	
	float: right;
	margin-right: 30px;
	margin-bottom: 50px;
	background: #1e1e1e;
	font-size: 22px;
	padding: 15px;
}
/*----------------------------social.html--------------------*/
#socialsection{
	background: url(../images/kop.png);
	padding-top: 50px;
	padding-bottom: 340px;
}
#socialsection img{
	height: 80px;
	width: 80px;
	float: left;
}
#socialsection h1{
	float: left;
	text-align: left;
	padding:20px;
	color: white;
}
.sociallink{
	height: 80px;
	margin-bottom: 20px;
	width: 40%;
	float:left;
	margin-right: 50px;
	background: rgba(30,30,30,0.9);
}

/*------------------------------------------------------------------
-----------------------for different displays-----------------------
-------------------------------------------------------------------
-------------------------------------------------------------------*/
@media only screen and (max-width: 1024px){
	#firstteamsection{
		padding-bottom: 2370px;
	}
	.newssection{
		padding-bottom: 1300px;
	}
	.sociallink{
		margin-left: 20px;
	}
	aside{
		width: 20%;
	}
	.newsarticle{
		width:55%;
	}
	.newssection{
		padding-bottom: 800px;
	}
	.newsimage{
		width: 60%;
	}
	.newsimage:active{
		width: 50%;
		margin:0px;
	}
	.articleheader{
		padding-top: 20px;
		width: 25%;
		font-size: 14px;
	}
	.articleheader:active{
		padding-top: 20px;
	}
	.articledescription{
		width:90%;
		margin-left: 20px;
		font-size: 14px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.articledescription:active{
		margin-left: 20px;
		margin-top: 15px;
	}
	.livlogo{
		margin-left: 10px;
	}
	.newsarticlenews{
		width: 96%;
		margin-left: 10px;
	}
	.articleheadernews{
		padding-top: 10px;
		width: 40%;
	}
	.articleheadernews:active{
		padding: 0px;
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.articledescriptionnews{
		width:40%;
	}
	.articledescriptionnews:active{
		margin-left: 19px;
		margin-top: 14px;
	}
	.pageslist{
		margin-left: 30%;
	}
	label{
		font-size: 18px;
	}
	input{
		width: 96%;
	}
	.box{
		width: 96%;
		margin-top: 50px;
		margin-left: 10px;
	}
	.submitbutton{
		width: 100px;
		margin-left:10px;
	}
	.submitbutton:active{
		padding: 14px;
		width: 99px;
	}

}
@media only screen and (max-width: 768px){
	header{
		height: 150px;
	}
	#headerlogodiv{
		display: none;
	}
	.choosetheme{
		width:100px;
	}
	nav {
	    height: 75px;
	    float: left;
	    margin-top: 70px;
	}
    nav ul {
    	margin-left: 1%;
    }

        nav ul li {
        	margin-bottom: 3px;
        }
        	nav ul li a{
        		font-size: 13px;
        		padding :29px 5px;
        	}
	
	
    footer{
		height: 100px;
	}
	#footerlogo{
		width: 100px;
		height: 70px;
	}
	footer p{
		word-spacing: 0px;
		margin-top: 0px;
		font-size: 11px;
	}
    .sponsorlink{
    	display: none;
    }
    .newsarticle{
		width:95%;
		margin: 40px 10px;
		margin-top: 0;
	}
	.newssection{
		padding-bottom: 800px;
	}
	.newsimage{
		width: 50%;
	}
	.newsimage:active{
		width: 50%;
		margin:0px;
	}
	.articleheader{
		border-bottom:none;
		padding-top: 20px;
		width: 35%;
		font-size: 14px;
	}
	.articleheader:active{
		padding-top: 20px;
	}
	.articledescription{
		width:90%;
		margin-left: 20px;
		font-size: 14px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.articledescription:active{
		margin-left: 20px;
		margin-top: 15px;

	}
	aside{
		display: none;
	}
	.newsarticlenews{
		width: 96%;
		margin-left: 10px;
	}

	.newsimagenews{
		width: 100%;
	}
	.newsimagenews:active{
		width: 100%;
		margin:0;
	}
	.articleheadernews{
		padding-top: 10px;
		width: 80%;
	}
	.articleheadernews:active{
		padding: 0px;
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.articledescriptionnews{
		width:90%;
		margin-bottom: 5px;
	}
	.articledescriptionnews:active{
		margin-left: 19px;
		margin-top: 14px;
	}
	.pageslist{
		margin-left: 10%;
	}
	/*----------------video--------*/
	video{
		width: 90%;
		margin-left: 15px;
	}
	button{
		width: 65px;
		font-size: 11px;
		padding: 15px;
	}
	/*----------------first team----------*/
	#firstteamsection{
		padding-bottom: 3720px;
	}
	.fblink{
		width: 90%;
	}
	.number{
		padding:50px 1px;
	}
	.fbname{
		float: left;
		
	}
	/*-----------social-----------*/
	#socialsection{
		padding-bottom: 700px;
	}
	.sociallink{
		width: 90%;
		float:left;
		margin-left: 20px;
		margin-right: 50px;
	}
	/*----------------registration--------*/
	
}

@media only screen and (max-width: 480px){
	.choosetheme{
		width: 20px;
		float: right;
	}
	#light{
		font-size:0px; 
	}
	#dark{
		font-size: 0px; 
	}
	nav {
		margin-top: 30px;
	    height: 50px;
	}
    nav ul {
    	margin-left: 1%;
    }

        nav ul li {
        	margin-bottom: 5px;
        }
        	nav ul li a{
        		padding:17px 0px;
        		font-size: 12px;
        	}
	header{
		height: 89px;
	}
	video{
		width: 90%;
		margin-left: 15px;
	}
	button{
		width: 40px;
		font-size: 10px;
		padding: 5px;
	}
	.fbpos{
		font-size: 20px;
	}
	.number{
		display: none;
	}
	.fblink{
		margin-left: 15px;
	}
	.fbname{
		width: 1%;
	}
	
}

@media only screen and (max-width: 320px){
	.articleheader{
		border-bottom:none;
		padding-top: 20px;
		width: 36%;
		font-size: 11px;
	}
	.articleheader:active{
		padding-top: 20px;
	}
	.articledescription{
		font-size: 11px;
	}
	.pagelistlink{
		color: #1e1e1e;
		font-weight: bold;
		margin: 5px;
		text-decoration: none;
	}
	#videosection{
		display: none;
	}
	#firstteamsection h1{
		font-size: 20px;
	}
	.number{
		display: none;
	}
	.fblink{
		width: 80%;
	}
	.fbname{
		font-size: 11px;
	}
	.sociallink{
		font-size: 14px;
	}

}

